<style>
    .smart-form #btnPagination .btn {
        float: left;
        height: 34px;
        margin: 10px 0 0 1px;
        padding: 0 12px;
        font: 300 15px/29px 'Open Sans',Helvetica,Arial,sans-serif;
        cursor: pointer;
    }
</style>
<br />

<div style="text-align:center">
    Page @(ViewBag.MaxPage < ViewBag.Page ? 0 : Convert.ToInt16(ViewBag.Page) + 1)
    of @(Convert.ToInt16(@ViewBag.MaxPage) + 1)
</div>

<div id="btnPagination" style="text-align: right; margin-right:10px;">
    <ul class="pagination" id="paginationList">

        @if (ViewBag.Page > 0)
            {
            <li>
                <button id="btnPrev" type="submit" name="btnPagination" value=@(ViewBag.Page - 1) 
                        class="btn btn-primary">Prev</button>
            </li>
        }
        @{
            int intialCounter = 0;
            int endingCounter = 0;
            if (ViewBag.Page + 1 >= 5)
            {
                intialCounter = (ViewBag.Page + 1) - 5;
                endingCounter = (ViewBag.Page + 1) + 5;
                if (endingCounter > ViewBag.MaxPage)
                {
                    endingCounter = ViewBag.MaxPage + 1;
                }

                for (int i = intialCounter; i <= endingCounter - 1; i++)
                {
                    <li>                       
                        <button id=@(i) type="submit" name="btnPagination" value=@(i)
                                 class="btn btn-default">@(i + 1)</button>
                    </li>
                }

            }
            else
            {
                if (ViewBag.MaxPage == 0)
                {
                    // do nothing
                }
                else if (ViewBag.MaxPage > 0 && ViewBag.MaxPage <= 10)
                {
                    for (int i = 0; i <= ViewBag.MaxPage; i++)
                    {
                        <li>
                            <button id=@(i) type="submit" name="btnPagination" value=@(i) class="btn btn-default">@(i + 1)</button>
                        </li>
                    }
                }
                else
                {
                    for (int i = 0; i <= 9; i++)
                    {
                        <li>
                            <button id=@(i) type="submit" name="btnPagination" value=@(i) class="btn btn-default">@(i + 1)</button>
                        </li>
                    }
                }
            }
        }

        @if (ViewBag.Page < ViewBag.MaxPage)
            {
            <li>
                <button id="btnNext" type="submit" name="btnPagination" value=@(ViewBag.Page + 1) class="btn btn-primary">Next</button>
            </li>
        }
    </ul>
</div>

<script>
    var page =@ViewBag.Page;
    for (var i = 0; i <= @ViewBag.MaxPage ; i++) {
        var buttons = $('#' + i.toString()).val();
        if (buttons==page) {
            $('#' + i.toString()).addClass("active");
        }
    }
</script>