@model CnC.Core.PaymentGatewayInfo

@{
    ViewBag.Title = "Payment Gateway";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .control-padding-bottom {
        padding-bottom: 20px;
    }
</style>
<!-- breadcrumb -->
<ol class="breadcrumb">
    <li>Admin</li>
    <li><strong>@ViewBag.Title</strong></li>
</ol>
<!-- end breadcrumb -->
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Add New Payment Gateway</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        @if (ViewBag.MessageSuccess != null)
                        {
                            <div class="alert alert-success fade in">
                                <button class="close" data-dismiss="alert">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-check"></i>
                                <strong>Success</strong> @ViewBag.MessageSuccess
                            </div>
                        }
                        @if (ViewBag.MessageFailure != null)
                        {<div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-times"></i>
                            <strong>Error!</strong> ViewBag.MessageFailure
                        </div> }
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row control-padding-bottom">
                                    <div class="col-sm-6 control-padding-bottom">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label", @style = "font-weight: 700;" })
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter Payment Gateway Name" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 control-padding-bottom">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.RedirectUrl, htmlAttributes: new { @class = "control-label", @style = "font-weight: 700;" })
                                                @Html.EditorFor(model => model.RedirectUrl, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter Redirect Url" } })
                                                @Html.ValidationMessageFor(model => model.RedirectUrl, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 control-padding-bottom">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label"><strong>Return URL</strong></label>
                                                @Html.EditorFor(model => model.RetrunUrl, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter Return URL" } })
                                                @Html.ValidationMessageFor(model => model.RetrunUrl, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="col-sm-6 control-padding-bottom">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label"><strong>Class Path</strong></label>
                                                @*@Html.LabelFor(model => model.MaximumReload, htmlAttributes: new { @class = "control-label", @style = "font-weight: 700;" })*@
                                                @Html.EditorFor(model => model.ClassPath, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter Class Path" } })
                                                @Html.ValidationMessageFor(model => model.ClassPath, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 control-padding-bottom">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label"><strong>Encryption Key 1</strong></label>
                                                @Html.EditorFor(model => model.EncryptionKey1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter Encryption Key 1" } })
                                                @Html.ValidationMessageFor(model => model.EncryptionKey1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 control-padding-bottom">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label"><strong>Encryption Key 2</strong></label>
                                                @Html.EditorFor(model => model.EncryptionKey2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter Encryption Key 2" } })
                                                @Html.ValidationMessageFor(model => model.EncryptionKey2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 control-padding-bottom">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label"><strong>Merchant Id</strong></label>
                                                @*@Html.LabelFor(model => model.MaxQuantity, htmlAttributes: new { @class = "control-label", @style = "font-weight: 700;" })*@
                                                @Html.EditorFor(model => model.MerchantId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter Merchant Id" } })
                                                @Html.ValidationMessageFor(model => model.MerchantId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 control-padding-bottom">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label"><strong>Terminal Id</strong></label>
                                                @Html.EditorFor(model => model.TerminalId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Terminal Id" } })
                                                @Html.ValidationMessageFor(model => model.TerminalId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.IsActive)
                                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <a href="@Url.Action("PaymentGateway", "Admin")" name="btnBackToList" id="btnBackToList" value="" class="btn btn-labeled btn-primary" style="margin-right:10px; margin-left:10px;">
                                                    <span style="padding:10px;">Back Payment Gateways</span>
                                                    <span class="btn-label" style="left: 0px;"><i class="glyphicon glyphicon-backward"></i></span>
                                                </a>
                                                <button formnovalidate="formnovalidate" type="submit" name="btnCancel" id="btnCancel" value="Cancel" class="btn btn-labeled btn-primary" style="margin-right:10px; margin-left:10px;">
                                                    <span style="padding:10px;">Cancel</span>
                                                    <span class="btn-label" style="left: 0px;"><i class="glyphicon glyphicon-refresh"></i></span>
                                                </button>
                                                <button type="submit" name="btnSearch" id="btnSearch" value="" class="btn btn-labeled btn-primary" style="margin-right:10px; margin-left:10px;">
                                                    <span style="padding:10px;">Save</span>
                                                    <span class="btn-label" style="left: 0px;"><i class="glyphicon glyphicon-save"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
