@using CnC.Core
@using CnC.Core.TopUps
@using CnC.Service
@using CnC.Web.Controllers
@model List<TopUpRequestForm>
@{
    ViewBag.Title = "Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var exchangeRate = new ExchangeRateController().GetExchangeRate(new SettingService().CustomerDefaultCurrency.Id);
}
<style>
    .invalid {
        color: red !important;
    }

    .table tr th {
        white-space: nowrap;
    }
</style>
<link href="~/Content/css/CncSpinner.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/Validation/Card/Payment.js"></script>
<!-- breadcrumb -->
<ol class="breadcrumb" style="text-transform: uppercase;">
    @*<li>@User.Identity.Name.ToLower()</li>*@
    <li>@ViewBag.Title</li>
</ol>
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <!-- widget div-->
                    <div role="content" style="overflow: auto;">
                        <div id="dialog_payment_failed" title="Dialog Simple Title" style="overflow: hidden;">
                            <div class="widget-body no-padding">
                                <form id="card-info-form123" name="CustomerInfo" autocomplete="off" class="smart-form">

                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-12" style="width:100%">
                                                <label class="label">Failure Reason:</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-text-width"></i>
                                                    @Html.TextBox("txtFailure")
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <div class="alert alert-success fade in" style="display:none">
                                                <button class="close" data-dismiss="alert">×</button>
                                                <i class="fa-fw fa fa-check"></i>
                                                <strong>Success</strong>
                                            </div>
                                            <div class="alert alert-danger fade in" style="display:none">
                                                <button class="close" data-dismiss="alert">×</button>
                                                <i class="fa-fw fa fa-times"></i>
                                                <strong>Error!</strong>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <input id="hfFormId" name="hfFormName" type="hidden" />
                                </form>
                            </div>
                        </div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @*<div id="cncLoader"></div>*@
                            <div id="cncLoaderMessage">
                            </div>
                            <div id="showMessage"> </div>
                            @using (Html.BeginForm("Process", "TopUp", FormMethod.Post, new { @class = "smart-form", role = "form", name = "SearchTopupProcess" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <fieldset>
                                    @{Html.RenderPartial("_TopUpRequestSearchControl");}
                                    @{Html.RenderPartial("_SearchButtons");}
                                </fieldset>
                                @*<fieldset>
                                        <div class="row">
                                            <section class="col col-5">
                                                <label class="input">
                                                    <i class="icon-append fa fa-hashtag">#</i>
                                                    @Html.TextBox("txtNICNo", Request["txtNICNo"], new { placeholder = "National ID #" })
                                                </label>
                                            </section>
                                            <section class="col col-5">
                                                <label class="input">
                                                    <i class="icon-append fa fa-hashtag">#</i>
                                                    @Html.TextBox("txtPassportNo", Request["txtPassportNo"], new { placeholder = "Passport #" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="input">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    @Html.TextBox("txtRegistrationDateFrom", Request["txtRegistrationDateFrom"], new { @class = "datepicker", placeholder = "Registration date from" , @readonly = "true" })
                                                </label>
                                            </section>
                                            <section class="col col-5">
                                                <label class="input">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    @Html.TextBox("txtRegistrationDateTo", Request["txtRegistrationDateTo"], new { @class = "datepicker", placeholder = "Registration date to" , @readonly = "true" })
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                <button type="submit" name="btnSearch" id="btnSearch" class="btn btn-labeled btn-primary">
                                                    <span class="btn-label" style="left: 0px;"><i class="glyphicon glyphicon-search"></i></span>
                                                </button>
                                            </section>
                                        </div>
                                    </fieldset>*@
                                        }
                        </div>

                        <!-- end widget content -->
                        <div class="table-responsive">
                            <div class="alert alert-success" id="msgPwd" style="display:none;">

                            </div>
                            @{
                                if (Model != null && Model.Count > 0)
                                {
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>

                                                <th title="Request Form #">Form #</th>
                                                <th title="Date">Request Date</th>
                                                <th>National ID #</th>
                                                <th title="Method of Payment">Payment Method</th>
                                                <th>Card Number</th>
                                                <th>Card Type</th>
                                                <th>Amount(@exchangeRate.Currency.Code)</th>
                                                <th>Failure Reason</th>
                                                <th>Mark As</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var topUpRequestForm in Model)
                                            {
                                                string paymentDesc = string.Empty;
                                                int i = 0;
                                                foreach (var payment in topUpRequestForm.Payments)
                                                {
                                                    paymentDesc = paymentDesc + "" +
                                                                    (payment.PaymentMethodId == (int)PaymentMethod.RAHYAB
                                                                    || payment.PaymentMethodId == (int)PaymentMethod.Admin
                                                                    ? "Manual" : ((PaymentMethod)payment.PaymentMethodId).ToString())
                                                                    + ",";
                                                    paymentDesc = paymentDesc.Trim(',');
                                                }
                                                <text>
                                                    @if (i == 0)
                                                    {
                                                        i = 1;
                                                        <text>
                                                            <tr>
                                                                <td>@topUpRequestForm.Id</td>
                                                                <td>@topUpRequestForm.CreatedOn.ToString("yyyy/MM/dd HH:mm")</td>
                                                                <td>@topUpRequestForm.Customer.NIC</td>
                                                                <td>@paymentDesc</td>
                                                                <td>@topUpRequestForm.TopUpRequests[0].Card.Number</td>
                                                                <td>@topUpRequestForm.TopUpRequests[0].Card.CardRequest.CardType.Name</td>
                                                                @{
                                                                    var amount = Math.Round(((topUpRequestForm.TopUpRequests[0].Amount+ topUpRequestForm.TopUpRequests[0].ServiceFee) * exchangeRate.Rate), 2);
                                                                }
                                                                <td>@amount</td>
                                                                <td>@topUpRequestForm.TopUpRequests[0].FailureReason</td>
                                                                <td>
                                                                    <a onclick='PostPaymentInfo("@topUpRequestForm.TopUpRequests[0].Id",this);' style="cursor:pointer" id="dialog_link234">Confirmed</a>
                                                                    <span style="margin-left: 5px; margin-right: 5px;">|</span>
                                                                    <a onclick='RejectPayment("@topUpRequestForm.TopUpRequests[0].Id");' style="cursor:pointer" id="dialog_payment_failed123">Failed</a>
                                                                </td>
                                                            </tr>
                                                        </text>
                                                                        topUpRequestForm.TopUpRequests.RemoveAt(0);
                                                                    }
                                                    @foreach (var topUpRequest in topUpRequestForm.TopUpRequests)
                                                    {
                                                        <text>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td>@topUpRequest.Card.Number</td>
                                                                <td>@topUpRequest.Card.CardRequest.CardType.Name</td>
                                                                @{
                                                                    var amount = Math.Round((topUpRequest.Amount * exchangeRate.Rate), 2);
                                                                }
                                                                <td>@amount</td>
                                                                <td>@topUpRequest.FailureReason</td>
                                                                <td>
                                                                    <a onclick='PostPaymentInfo("@topUpRequest.Id",this);' style="cursor:pointer" id="dialog_link234">Confirmed</a>
                                                                    <span style="margin-left: 5px; margin-right: 5px;">|</span>
                                                                    <a onclick='RejectPayment("@topUpRequest.Id");' style="cursor:pointer" id="dialog_payment_failed123">Failed</a>
                                                                </td>
                                                            </tr>
                                                        </text>
                                                                    }
                                                </text>
                                                                    }

                                        </tbody>
                                    </table>
                                                                    }
                                                                    else
                                                                    {                                                                     
                                                                        <div class="alert alert-info fade in" style="margin-top:5px;">
                                                                            <button class="close" data-dismiss="alert">×</button>
                                                                            <i class="fa-fw fa fa-cube"></i>
                                                                            <strong>Sorry! </strong>No Records Found
                                                                        </div>
                                                                    }
                            }
                        </div>

                        <input id="hfCustomerId" name="hfCustomerName" type="hidden" />

                    </div>
                    <!-- end widget -->
                </div>

            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
@section pagespecific {
    <script>


        $(document).ready(function () {

            $("#cncLoader").hide();
            $("#cncLoaderMessage").hide();
        });

        $('#dialog_payment_failed').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            modal: true,
            title: "Customer",
            buttons: [{
                html: "<i class='fa fa-trash-o'></i>&nbsp; Reject",
                "class": "btn btn-danger",
                click: function () {
                    var form = $("#card-info-form123");
                    form.validate();
                    if (!form.valid()) {
                        return false;
                    };
                    $("input.btn-default").attr("disabled", true);
                    var key = $("#hfFormId").val();
                    PostPaymentInfo(key, this);
                }
            }, {
                html: "<i class='fa fa-times'></i>&nbsp; Cancel",
                "class": "btn btn-default",
                click: function () {
                    ClearForm();
                    $(this).dialog("close");
                }
            }]
        });
        /*
        * DIALOG HEADER ICON
        */
        function OpenDialog(rf) {
            // var msg = rf + "" + cr;
            ClearForm();
            if (rf != "") {
                $("#hfFormId").val(rf);
            }
            $('#dialog_simple').dialog('open');
            return false;
        }

        function RejectPayment(rf) {

            if (rf != "") {
                $("#hfFormId").val(rf);
            }
            $('#dialog_payment_failed').dialog('open');
            return false;
        }

        function ClearForm() {
            //document.getElementById("txtClientId").value = "";
            document.getElementById("txtFailure").value = "";
            $("#hfFormId").val("");
        }
        function PostPaymentInfo(key, ffrom) {

            var hv = key;
            var failureReason = $("#txtFailure").val();
            if (hv != "") {
                $("#cncLoader").show();
                $.ajax({
                    url: "/TopUp/SetTopUpRequestUploadedOrFailed",
                    contentType: "application/json; charset=utf-8",
                    data: { key: key, failureReason: failureReason },
                    dataType: "json",
                    success: function (data) {
                        //$(ffrom).dialog("close");
                        $("#cncLoader").hide();
                        if (data[0] == "200") {
                            if (ffrom != null && ffrom != "") {
                                $(ffrom).dialog("close");
                            }
                            $("#cncLoaderMessage").append(data[1]);
                            $("#cncLoaderMessage").show();

                        } else {
                            if (ffrom != null && ffrom != "") {
                                $(ffrom).dialog("close");
                            }
                            $("#showMessage").removeClass("alert alert-danger fade in");
                            $("#showMessage").empty();
                            $("#showMessage").show();
                            $("#showMessage").addClass("alert alert-danger fade in");
                            $("#showMessage").append("<button class='close' onclick='UpdatePanelDiv();'>×</button> <i class='fa-fw fa fa-times'></i><strong>Error!</strong> '" + data[1] + "'");
                        }
                    },
                    error: function (data) {
                        if (ffrom != null && ffrom != "") {
                            $(ffrom).dialog("close");
                        }
                        $("#cncLoader").hide();
                        $("#showMessage").removeClass("alert alert-danger fade in");
                        $("#showMessage").empty();
                        $("#showMessage").show();
                        $("#showMessage").addClass("alert alert-danger fade in");
                        $("#showMessage").append("<button class='close' onclick='UpdatePanelDiv();'>×</button> <i class='fa-fw fa fa-times'></i><strong>Error!</strong><strong>Fail!</strong> An error occured while updating. Please try again. ");
                    }
                });
            } else {
                if (ffrom != null && ffrom != "") {
                    $(ffrom).dialog("close");
                }
                $("#showMessage").removeClass("alert alert-danger fade in");
                $("#showMessage").empty();
                $("#showMessage").show();
                $("#showMessage").addClass("alert alert-danger fade in");
                $("#showMessage").append("<button class='close' onclick='UpdatePanelDiv();'>×</button> <i class='fa-fw fa fa-times'></i><strong>Error!</strong> Missing required values. ");
            }
            //return false;
        }
        @*function CustomerCardIssuer(key) {
        $("#cncLoader").show();
        $.ajax({
            url: '@Url.Action("UpdateCustomerCardIssuerStatus", "Customer")',
            contentType: "application/json; charset=utf-8",
            data: { customerId: key },
            dataType: "json",
            success: function (data) {
                $("#cncLoader").hide();
                if (data[0] == "200") {
                    $("#cncLoaderMessage").append(data[1]);
                    $("#cncLoaderMessage").show();

                } else {

                    $("#showMessage").removeClass("alert alert-danger fade in");
                    $("#showMessage").empty();
                    $("#showMessage").show();
                    $("#showMessage").addClass("alert alert-danger fade in");
                    $("#showMessage").append("<button class='close' onclick='UpdatePanelDiv();'>×</button> <i class='fa-fw fa fa-times'></i><strong>Error!</strong> '" + data[1] + "'");
                }
            },
            error: function () {

                $("#showMessage").removeClass("alert alert-danger fade in");
                $("#showMessage").empty();
                $("#showMessage").show();
                $("#showMessage").addClass("alert alert-danger fade in");
                $("#showMessage").append("<button class='close' onclick='UpdatePanelDiv();'>×</button> <i class='fa-fw fa fa-times'></i><strong>Error!</strong><strong>Fail!</strong> An error occured while updating. Please try again. ");
            }
        });
    }*@

        function UpdatePanelDiv() {
            $("#showMessage").empty();
            $("#showMessage").hide();
        }
    </script>
}
