@using CnC.Core
@using CnC.Service
@using CnC.Core.Customers;
@model List<Customer>
@{
    ViewBag.Title = "LAMDA Response";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var localizationService = new LocalizationService();
    string showFailedPayments = string.Empty;
    bool isShowFailedPayments = true;

    if (!string.IsNullOrEmpty(Request["ShowFailedPayments"]))
    {
        showFailedPayments = Request["ShowFailedPayments"];
        if (showFailedPayments.Contains("1"))
        {
            isShowFailedPayments = true;
        }
        else
        {
            isShowFailedPayments = false;
        }
    }
}
<style>
    .invalid {
        color: red !important;
    }

    .table tr th {
        white-space: nowrap;
    }

    .wraptext {
        text-wrap: normal;
        max-width: 120px;
        white-space: normal;
    }
</style>
<link href="~/Content/css/CncSpinner.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/Jalali/jalali.js"></script>
<script src="~/Scripts/Validation/Customer/Customer.js"></script>
<!-- breadcrumb -->
<ol class="breadcrumb" style="text-transform: uppercase;">
    @*<li>@User.Identity.Name.ToLower()</li>*@
    <li>@localizationService.GetResource(ViewBag.Title, null, ViewBag.Title)</li>
</ol>
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@localizationService.GetResource(ViewBag.Title, null, ViewBag.Title)</h2>
                    </header>
                    <!-- widget div-->
                    <div role="content" style="overflow: auto;">
                        <div id="dialog_simple" title="Dialog Simple Title" style="overflow: hidden;">
                            <div class="widget-body no-padding">
                                <form id="card-info-form2" name="CardInfoApprove" autocomplete="off" class="smart-form validatform">
                                    @*<header>
                                        Card Info
                                        </header>*@
                                    <fieldset>
                                        @*<div class="row">
                                                <section class="col col-12" style="width:100%">
                                                    <label class="label">@localizationService.GetResource("Cnc.ClientId", null, "Client Id"):*</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-hashtag">#</i>
                                                        @Html.TextBox("txtClientId")
                                                    </label>
                                                </section>
                                            </div>*@
                                        <div class="row">
                                            <section class="col col-12" style="width:100%">
                                                <label class="label">@localizationService.GetResource("Cnc.BillingEmail", null, "Billing Email") : *</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-envelope-o"></i>
                                                    @Html.TextBox("txtEmailAddress")
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-12" style="width:100%">
                                                <label class="label">@localizationService.GetResource("Cnc.BillingAddress", null, "Billing Address"):*</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-map-marker"></i>
                                                    @Html.TextBox("txtBillingAddress")
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <div class="alert alert-success fade in" style="display:none">
                                                <button class="close" data-dismiss="alert">×</button>
                                                <i class="fa-fw fa fa-check"></i>
                                                <strong>@localizationService.GetResource("Cnc.Success", null, "Success")</strong>
                                            </div>
                                            <div class="alert alert-danger fade in" style="display:none">
                                                <button class="close" data-dismiss="alert">×</button>
                                                <i class="fa-fw fa fa-times"></i>
                                                <strong>@localizationService.GetResource("Cnc.Error", null, "Error")!</strong>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div id="dialog_card_failed" title="Dialog Simple Title" style="overflow: hidden;">
                            <div class="widget-body no-padding">
                                <form id="card-info-form123" name="CustomerInfo" autocomplete="off" class="smart-form validatform">
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-12" style="width:100%">
                                                <label class="label">@localizationService.GetResource("Cnc.DeclinedReason", null, "Declined Reason"):*</label>
                                                <label class="input">
                                                    @*<i class="icon-append fa fa-text-width"></i>*@
                                                    @Html.TextArea("txtFailure", "",
                                                   new
                                                   {
                                                       Lang = !new SettingService().LocalizationEnable
                                                       //&& customerSession != null
                                                       //&& !customerSession.Language.IsRightToLeftOrientation
                                                       ? "ENG" : "fa-IR",
                                                       placeholder = !new SettingService().LocalizationEnable ?
                                                       "Please Enter in English" :
                                                       localizationService.
                                                       GetResource("Cnc.PleaseEnterInPersian",
                                                       null, "Please Enter in Persian"),
                                                       @onCopy = "return false",
                                                       @onDrag = "return false",
                                                       @onDrop = "return false",
                                                       @onPaste = "return false",
                                                       @autocomplete = "off",
                                                       @style = "width:100%; overflow:hidden; ",
                                                       @onkeyup = "textAreaAdjust(this)"
                                                   })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <div class="alert alert-success fade in" style="display:none">
                                                <button class="close" data-dismiss="alert">×</button>
                                                <i class="fa-fw fa fa-check"></i>
                                                <strong>@localizationService.GetResource("Cnc.Success", null, "Success")</strong>
                                            </div>
                                            <div class="alert alert-danger fade in" style="display:none">
                                                <button class="close" data-dismiss="alert">×</button>
                                                <i class="fa-fw fa fa-times"></i>
                                                <strong>@localizationService.GetResource("Cnc.Error", null, "Error")!</strong>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <input id="hfFormId" name="hfFormName" type="hidden" />
                                </form>
                            </div>
                        </div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        @using (Html.BeginForm("CardIssuerResponse", "Customer", FormMethod.Post, new { @class = "smart-form", role = "form", name = "SearchCustomers" }))
                        {
                            <div class="widget-body">
                                @*<div id="cncLoader"></div>*@
                                <div id="cncLoaderMessage">
                                </div>
                                <div id="showMessage"> </div>

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <fieldset>

                                    @{Html.RenderPartial("_CustomerSearchControls");}
                                    <div style="margin-bottom:4px;margin-left:4px" class="row">
                                        <label class="">
                                            @Html.CheckBox("ShowFailedPayments", isShowFailedPayments, new { value = "1" })
                                            Show Declined
                                        </label>
                                    </div>
                                    <div class="row">
                                        @{Html.RenderPartial("_SearchButtons");}
                                        @*<label class="pull-right">
                                                @Html.CheckBox("ShowFailedPayments", isShowFailedPayments, new { value = "1" })
                                                Show Declined
                                            </label>*@
                                    </div>
                                </fieldset>

                            </div>
                        <!-- end widget content -->
                                            <div class="table-responsive">
                                                <div class="alert alert-success" id="msgPwd" style="display:none;">
                                                </div>
                                                @{
                                                    if (Model != null && Model.Count > 0)
                                                    {
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>@localizationService.GetResource("Cnc.FullName", null, "Full Name")</th>
                                                                    <th>@localizationService.GetResource("Cnc.NationalID", null, "National ID #")</th>
                                                                    <th>@localizationService.GetResource("Cnc.Passport#", null, "Passport #")</th>
                                                                    <th>@localizationService.GetResource("Cnc.RegistrationDate", null, "Registration Date")</th>
                                                                    <th title="Declined Reason">@localizationService.GetResource("Cnc.DeclinedReason", null, "Declined Reason")</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    foreach (var item in Model)
                                                                    {
                                                                        <tr>
                                                                            <td>@item.User.FullName</td>
                                                                            <td>@item.NIC</td>
                                                                            <td>@item.PassportNo</td>
                                                                            <td>@item.User.CreatedOn.ToString("yyyy/MM/dd HH:mm")</td>
                                                                            <td class="wraptext"><span style="text-wrap: normal;">@item.DeclinedReason</span></td>
                                                                            <td>
                                                                                <a onclick='OpenDialog("@item.Id");' style="cursor:pointer" id="dialog_link">@localizationService.GetResource("Cnc.Approved", null, "Approved")</a><span style="margin-left: 5px; margin-right: 5px;">|</span>
                                                                                <a onclick='UpdateCustomer("@item.Id");' style="cursor:pointer" id="card_failed">@localizationService.GetResource("Cnc.Declined", null, "Declined")</a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                                        Html.RenderPartial("_Pagination");
                                                                    }

                                                                    else
                                                                    {
                                                                        <div class="alert alert-info fade in" style="margin-top:5px;">
                                                                            <button class="close" data-dismiss="alert">×</button>
                                                                            <i class="fa-fw fa fa-cube"></i>
                                                                            <strong>@localizationService.GetResource("Cnc.Sorry", null, "Sorry")! </strong>@localizationService.GetResource("Cnc.NoRecord", null, "No Records Found")
                                                                        </div>
                                                                    }
                                                }

                                            </div>
                                                                    }
                        <input id="hfCustomerId" name="hfCustomerName" type="hidden" />
                    </div>
                    <!-- end widget -->
                </div>
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/Validation/Localization/@localizationService.GetValidationFile()"></script>
    <script src="~/Scripts/Validation/Customer/CardIssuerResponse.js"></script>
}
@section pagespecific {
    <script src="~/Scripts/FarsiType.js"></script>
    <script>
        $(document).ready(function () {
            $("#cncLoader").hide();
            $("#cncLoaderMessage").hide();
        });
        /*DIALOG SIMPLE*/
        // Dialog click
        //$('#dialog_link').click(function () {
        //    $('#dialog_simple').dialog('open');
        //    return false;
        //});
        $(document).ready(function () {
            $("#cncLoader").hide();
            $("#cncLoaderMessage").hide();
        });
        $('#dialog_simple').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            modal: true,
            title: "Customer",
            buttons: [{
                html: "<i class='fa fa-check'></i>&nbsp; @localizationService.GetResource("Cnc.SaveChanges",null,"Save Changes")",
                "class": "btn btn-success",
                click: function () {
                    var form = $("#card-info-form2");
                    form.validate();
                    if (!form.valid()) {
                        return false;
                    };
                    $("input.btn-default").attr("disabled", true);
                    PostCardInfo("a", this);
                }
            }, {
                html: "<i class='fa fa-times'></i>&nbsp; @localizationService.GetResource("Cnc.Cancel", null, "Cancel")",
                "class": "btn btn-default",
                click: function () {
                    ClearForm();
                    $("input.btn-danger").attr("disabled", true);
                    var validator = $("#card-info-form2").validate();
                    validator.resetForm();
                    $("#card-info-form2").find('.state-error,.input,.smart-form').removeClass('state-error');
                    $(this).dialog("close");
                }
            }]
        });
        $('#dialog_card_failed').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            modal: true,
            title: '@localizationService.GetResource("Customer", null, "Customer")',
            buttons: [{
                html: "<i class='fa fa-trash-o'></i>&nbsp; @localizationService.GetResource("Cnc.Decline", null, "Decline")",
                "class": "btn btn-danger",
                click: function () {
                    var form = $("#card-info-form123");
                    form.validate();
                    if (!form.valid()) {
                        return false;
                    };
                    $(".btn-default").attr("disabled", true);
                    PostCardInfo("f", this);
                }
            }, {
                html: "<i class='fa fa-times'></i>&nbsp; @localizationService.GetResource("Cnc.Cancel", null, "Cancel")",
                "class": "btn btn-default",
                click: function () {
                    $(".btn-danger").attr("disabled", true);
                    ClearForm();
                    var validator = $("#card-info-form123").validate();
                    validator.resetForm();
                    $("#card-info-form123").find('.state-error,.input,.smart-form').removeClass('state-error');
                    $(this).dialog("close");
                }
            }]
        });
        /*DIALOG HEADER ICON*/
        function OpenDialog(rf) {
            $(".btn-success").attr("disabled", false);
            $(".btn-default").attr("disabled", false);
            // var msg = rf + "" + cr;
            ClearForm();
            if (rf != "") {
                $("#hfFormId").val(rf);
            }
            $('#dialog_simple').dialog('open');
            return false;
        }
        function UpdateCustomer(rf) {
            $(".btn-danger").attr("disabled", false);
            $(".btn-default").attr("disabled", false);
            ClearForm();
            if (rf != "") {
                $("#hfFormId").val(rf);
            }
            $('#dialog_card_failed').dialog('open');
            //PostCardInfo("f");
            return false;
        }
        function ClearForm() {
            //document.getElementById("txtClientId").value = "";
            document.getElementById("txtFailure").value = "";
            $("#hfFormId").val("");
        }

        function PostCardInfo(key, ffrom) {
            var keyId = $("#hfFormId").val();
            //var customerClientId = document.getElementById("txtClientId").value;
            var emailAddress = $("#txtEmailAddress").val();
            var billingAddress = $("#txtBillingAddress").val();
            var failureReason = $("#txtFailure").val();
            if (key == "f") {
                if (keyId != "" && failureReason != "") {
                } else {
                    //alert("Unable to update. Missing required values.");
                    return false;
                }
            } else if (key == "a") {
                if (keyId != "" && emailAddress != "" && billingAddress != "") {
                } else {
                    //alert("Unable to update. Missing required values.");
                    return false;
                }
            }
            if (keyId != "") {
                $("#cncLoader").show();
                CheckIsValid();
                $.ajax({
                    url: '@Url.Action("SetCustomerApprovedOrDeclined", "Customer")',
                    contentType: "application/json; charset=utf-8",
                    data: { key: keyId, failureReason: failureReason, emailAddress: emailAddress, billingAddress: billingAddress },
                    dataType: "json",
                    success: function (data) {
                        $(ffrom).dialog("close");
                        $("#cncLoader").hide();
                        if (data[0] == "200") {
                            $("#cncLoaderMessage").append(data[1]);
                            $("#cncLoaderMessage").show();
                        } else {
                            $("#showMessage").removeClass("alert alert-danger fade in");
                            $("#showMessage").empty();
                            $("#showMessage").show();
                            $("#showMessage").addClass("alert alert-danger fade in");
                            $("#showMessage").append("<button class='close' onclick='UpdatePanelDiv();'>×</button> <i class='fa-fw fa fa-times'></i><strong>Error!</strong> '" + data[1] + "'");
                        }
                    },
                    error: function () {
                        $(ffrom).dialog("close");
                        $("#cncLoader").hide();
                        $("#showMessage").removeClass("alert alert-danger fade in");
                        $("#showMessage").empty();
                        $("#showMessage").show();
                        $("#showMessage").addClass("alert alert-danger fade in");
                        $("#showMessage").append("<button class='close' onclick='UpdatePanelDiv();'>×</button> <i class='fa-fw fa fa-times'></i><strong>Error!</strong><strong>Fail!</strong> An error occured while updating. Please try again. ");
                    }
                });
            } else {
                $("#showMessage").removeClass("alert alert-danger fade in");
                $("#showMessage").empty();
                $("#showMessage").show();
                $("#showMessage").addClass("alert alert-danger fade in");
                $("#showMessage").append("<button class='close' onclick='UpdatePanelDiv();'>×</button> <i class='fa-fw fa fa-times'></i><strong>Error!</strong> Missing required values. ");
            }
            //return false;
        }
        @*function CustomerCardIssuer(key) {
        $("#cncLoader").show();
        $.ajax({
            url: '@Url.Action("UpdateCustomerCardIssuerStatus", "Customer")',
            contentType: "application/json; charset=utf-8",
            data: { customerId: key },
            dataType: "json",
            success: function (data) {
                $("#cncLoader").hide();
                if (data[0] == "200") {
                    $("#cncLoaderMessage").append(data[1]);
                    $("#cncLoaderMessage").show();

                } else {

                    $("#showMessage").removeClass("alert alert-danger fade in");
                    $("#showMessage").empty();
                    $("#showMessage").show();
                    $("#showMessage").addClass("alert alert-danger fade in");
                    $("#showMessage").append("<button class='close' onclick='UpdatePanelDiv();'>×</button> <i class='fa-fw fa fa-times'></i><strong>Error!</strong> '" + data[1] + "'");
                }
            },
            error: function () {

                $("#showMessage").removeClass("alert alert-danger fade in");
                $("#showMessage").empty();
                $("#showMessage").show();
                $("#showMessage").addClass("alert alert-danger fade in");
                $("#showMessage").append("<button class='close' onclick='UpdatePanelDiv();'>×</button> <i class='fa-fw fa fa-times'></i><strong>Error!</strong><strong>Fail!</strong> An error occured while updating. Please try again. ");
            }
        });
    }*@

        function UpdatePanelDiv() {
            $("#showMessage").empty();
            $("#showMessage").hide();
        }
    </script>
}
