@using CnC.Core
@using System.Web.UI.WebControls
@using CnC.Service
@using CnC.Core.Customers
@{
    ViewBag.Title = "";
    //var cust = Session["CurrentCustomer"] as Customer;
    //LocalizationService localizationService = null;
    //if (cust != null)
    //{
    //    localizationService = new LocalizationService(cust.LanguageId);
    //}
}
<style>
    .invalid {
        color: red !important;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }
</style>
<link href="~/Content/css/CncSpinner.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div id="content">

    <div id="main" role="main">
        <!-- MAIN CONTENT -->
        <div id="content" class="container">
            <div id="divEmp" class="row">
                <div id="cncLoaderMessage">
                    @*<span id="spanSuccess" class="spanSuccessColor"><span id="completeSpan" class="text-center text-success spanSuccessColor"><strong><i class='fa fa-check fa-lg'></i> Complete</strong></span><br />KYC form has been saved successfully!<br /><a id="lkGoBack" style="font-size: 14px;" class="spanSuccessColor" href="@Url.Action("NewKYCFormInCustomerLanguage","Customer")">Go back</a></span>*@
                </div>
                <div id="showMessage"> </div>
                @using (Ajax.BeginForm("ForgotPassword", "Customer",
new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "showMessage",
    OnFailure = "AjaxFailure",
    //OnSuccess = "onSuccess",
    OnBegin = "AjaxBegin",
    OnComplete = "AjaxComplete"
},
new
{
    @id = "ForgotPasswordForm",
    @name = "ForgotPasswordForm",
    @class = "smart-form client-form",
    role = "form",
    enctype = "multipart/form-data"
}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-centered" id="divEmailVerification">
                        <div class="well no-padding">
                            <header>
                                Forgot Password
                            </header>

                            <fieldset>

                                <section>
                                    <label class="label">
                                        Enter Your Email Address
                                    </label>
                                        <label class="input">
                                            <i class="icon-append fa fa-envelope"></i>
                                            @Html.TextBox("txtEmailAddress", "", new { placeholder = "Enter Your Email Address" })
                                            <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Please Enter Email For Password Reset</b>
                                        </label>
                                </section>
                            </fieldset>
                            <footer>
                                @Html.ActionLink("Cancel", "Login", "Account", null, new { @class = "btn btn-primary" })
                                <button type="submit" name="submitAction" id="btnSaveInfoStep1" class="btn btn-primary">
                                    <i class="fa fa-refresh"></i> Send Verification Code
                                </button>
                                @*<button type="submit" name="submitAction" id="btnSaveInfoStep1" class="btn btn-primary">
                                        <i class="fa fa-refresh"></i> Back
                                    </button>*@

                            </footer>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-centered" id="divResetPassword">
                        <div class="well no-padding">

                            <header>
                                Reset Password
                            </header>

                            <fieldset>
                                <section>
                                    <label class="label">Verification Code *</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <input id="txtVerificationCode" type="text" name="txtVerificationCode">
                                    </label>
                                    @*<div class="note note-error">This is a required field.</div>*@
                                </section>
                                <section>
                                    <label class="label">New Password *</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="password" id="password">
                                    </label>
                                    @*<div class="note note-error">This is a required field.</div>*@
                                </section>
                                <section>
                                    <label class="label">Confirm Password*</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="cfmPassword" id="cfmPassword">
                                    </label>
                                    @*<div class="note note-error">This is a required field.</div>*@
                                </section>
                            </fieldset>
                            <footer>
                                @Html.ActionLink("Cancel", "Login", "Account", null, new { @class = "btn btn-primary" })
                                <button type="submit" name="submitAction" id="btnSaveInfoStep1" class="btn btn-primary">
                                    <i class="fa fa-refresh"></i> Reset Password
                                </button>
                            </footer>

                        </div>
                    </div>
                    <input type="hidden" id="hfEmailVal" name="hfEmailId" value="" />
                    <input type="hidden" id="hfCallFrom" name="hfCallFromId" value="" />
                }
            </div>
        </div>

    </div>
</div>
@section Scripts {

}
@section pagespecific {
    <script src="~/Scripts/Validation/User/ForgotPasswordForm.js"></script>
}

<script>
    $(document).ready(function () {

        $("#hfCallFrom").val("Email");
        $("#hdHeader").html("Enter your email address");
        $("#txtEmailAddress").val();
        $("#divEmailVerification").show();
        $("#divResetPassword").hide();

        $("#logout").remove();
        $("#left-panel").remove();
        $('body').addClass("minified");

        function validate(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }

        $("#cncLoader").hide();
        $("#cncLoaderMessage").hide();

        window.addEventListener("submit", function (e) {
            //CheckIsValid();
            var form = $('#ForgotPasswordForm');
            form.validate();
            if (!form.valid()) { return false; };
            $("#cncLoader").show();
            var form = e.target;
            if (form.getAttribute("enctype") === "multipart/form-data") {
                if (form.dataset.ajax) {
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    var xhr = new XMLHttpRequest();
                    xhr.open(form.method, form.action);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            var data = JSON.parse(xhr.responseText);
                            $("#cncLoader").hide();
                            if (data.length > 0) {
                                if (data[0] == "200" && data[2] != "") {
                                    //Redirect to NewCustomerCardRequests
                                    var callFrom = $("#hfCallFrom").val();
                                    document.getElementById("btnSaveInfoStep1").disabled = true;
                                    if (callFrom == "Email") {
                                        $("#hdHeader").html("Please enter your new password");
                                        $("#divEmailVerification").hide();
                                        $("#divResetPassword").show();
                                        UpdatePanelDiv();
                                        var txtMail = $("#txtEmailAddress").val();
                                        $("#hfEmailVal").val(txtMail);
                                        $("#hfCallFrom").val("Reset");
                                        $("#txtEmailAddress").val("");
                                    } else {
                                        $("#txtVerificationCode").val("");
                                        $("#password").val("");
                                        $("#cfmPassword").val("");
                                        $("#txtEmailAddress").val("");
                                        $("#divEmailVerification").show();
                                        $("#divResetPassword").hide();
                                        $("#hfEmailVal").val("");
                                        $("#hfCallFrom").val("Email");
                                        var url = "/Account/Login";
                                        window.location.href = url;
                                    }

                                } else if (data[0] == "102") {
                                    var url = "/Account/Login";
                                    window.location.href = url;
                                } else {
                                    $("#showMessage").removeClass("alert alert-danger fade in");
                                    $("#showMessage").empty();
                                    $("#showMessage").show();
                                    $("#showMessage").addClass("alert alert-danger fade in");
                                    $("#showMessage").append("<button class='close' onclick='UpdatePanelDiv();'>×</button> <i class='fa-fw fa fa-times'></i><strong>Error!</strong> '" + data[1] + "'");
                                }
                            }
                            //}
                            //}
                        }
                    };
                    xhr.send(new FormData(form));
                }
            }
        }, true);



    });//Ready document

    function UpdatePanelDiv() {
        $("#showMessage").empty();
        $("#showMessage").hide();
    }

</script>
<script>
    var verifyCallback = function (response) {
        alert("grecaptcha is ready!");
    };

    var expiredCallback = function () {
        alert("grecaptcha is expired!");
    };
</script>